<app-nav ></app-nav>
<div id="wrapper">
	<app-sidebar ></app-sidebar>
	<div id="content-wrapper">
	    <div class="container-fluid">
	<!-- Breadcrumbs-->
	          <ol class="breadcrumb">
	            <li class="breadcrumb-item">
	              <a href="#">Usuarios</a>
	            </li>
	            <!-- <li class="breadcrumb-item active">Tables</li> -->
	          </ol>
	<!-- DataTables Example -->
	          <div class="p-3" *ngIf="alert.status" [ngClass]="alert.class">
	            {{alert.message}}
	          </div>
	          <div class="card mb-3">
	            <div class="card-header">
	              <i class="fas fa-table"></i>
	              Lista de usuarios
	              <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Crear Usuario</button>
	            </div>
	            <div class="card-body">
	              <div class="table-responsive">
	                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
	                  <thead>
	                    <tr>
	                      <th>Fecha de ingreso</th>
	                      <th>Nombre</th>
	                      <th>Documento</th>
	                      <th>tipo de documento</th>
	                      <th>Opciones</th>                
	                    </tr>
	                  </thead>
	                  <tbody>
	                    <tr *ngFor="let u of usuarios">
	                      <td>{{u.creado | date:'medium'}}</td>
	                      <td>{{u.nombre+' '+u.apellido}}</td>
	                      <td>{{u.documento}}</td>
	                      <td>{{u.tipo_doc}}</td>
	                      <td>
	                      	<a class="btn btn-success" href="adminpro/users/{{u._id}}">Detalles</a>
	                      </td>
	                    </tr>
	                  </tbody>
	                </table>
	              </div>
	            </div>
	            <!-- <div class="card-footer small text-muted">Updated {{date | date: 'medium'}}</div> -->
	          </div>
	    </div>
	</div>
</div>
