<app-nav ></app-nav>
<div id="wrapper">
	<app-sidebar ></app-sidebar>
	<div id="content-wrapper">
	    <div class="container-fluid">
	<!-- Breadcrumbs-->
	          <ol class="breadcrumb">
	            <li class="breadcrumb-item">
	              <a href="#">Planes</a>
	            </li>
	            <!-- <li class="breadcrumb-item active">Tables</li> -->
	          </ol>
	<!-- DataTables Example -->
	          <div class="p-3" *ngIf="alert.status" [ngClass]="alert.class">
	            {{alert.message}}
	          </div>
	          <div class="card mb-3">
	            <div class="card-header">
	              <i class="fas fa-table"></i>
	              Lista de usuarios
	              <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Crear Usuario</button>
	            </div>
	            <div class="card-body">
	              <div class="table-responsive">
	                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
	                  <thead>
	                    <tr>
	                      <th>Fecha de ingreso</th>
	                      <th>Flor</th>
	                      <th>Tamaño</th>
	                      <th>Periodo</th>
	                      <th>Precio</th>
	                      <th>Opciones</th>                
	                    </tr>
	                  </thead>
	                  <tbody>
	                    <tr *ngFor="let p of plans">
	                      <!-- <td>{{p.f_creacion | date}}</td> -->
	                      <td>{{p._id}}</td>
	                      <td>{{p.flower.nombre}}</td>
	                      <td>{{p.size.nombre}}</td>
	                      <td>{{p.period}}</td>
	                      <td>{{p.values}}</td>
	                      <td>
	                      	-
	                      	<!-- <a type="button" class="btn btn-success" href="rrhh-admin/user/{{p._id}}">Detalles</a> -->
	                      </td>
	                    </tr>
	                  </tbody>
	                </table>
	              </div>
	            </div>
	            <!-- <div class="card-footer small text-muted">Updated {{date | date: 'medium'}}</div> -->
	          </div>
	    </div>
	</div>
</div>